body {
    text-align: center;
}

.the {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

ul {
    font-family: sans-serif;
    position: fixed;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
    background: white;
    width: 100%;
    top: 0px;
}

html {
    scroll-behavior: smooth;
}

.fru {
    padding: 10px;
}

#home {
    color: linear-gradient(#2FF8FD 100%, #2FF826 100%);
}
